body {
    background-color: #f4f6f9;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #343a40;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-responsive {
    overflow-x: auto;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.btn-primary {
    background-color: #00224D;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.navbar{
    background-color: #00224D;
}